body{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}


nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2px;

}
nav ul{
    width: 100%;
    display: flex;
    padding: 0px;
}
nav ul li{
    display: inline-block;
    height: 30px;
    width: 180px;
    text-align: right;
    padding: 5px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    
}
 nav ul li:nth-child(1) {
    text-align: left;
    flex-grow: 1;
} 
nav ul li:nth-child(2){
    color: blue;
    border-top: blue 1px solid;
    text-align: center;
}
nav ul li:nth-child(4){
    color: blue;  
}
.logo{
    margin-top: -20px;
}
header{
    width: 100%;
}
.research{
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-wrap: nowrap;
}
input{ 
  
    width: 400px;
    height: 41px;
    color: #000;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    margin-left: -5px !important;
    border: #F2F2F2 2px solid ;
    
    
}
.btn-one{
    width: 150px;
    height: 41px;
    background-color:#0065FC;;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-weight: 900;
    margin-left: -10px !important;
    border: none;
}
.btn-two{
    display: none;
    
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content:stretch;
}
.filtres:nth-child(1){
    border: none !important;
}
.menu .filtres{
    border: solid 1px #F2F2F2;
    border-left: none;
    border-radius: 20% / 50%;
    margin-right: 150px !important;
    padding-right: 20px;
   
}
.filtres:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.fa-map-marker-alt{
    width: 40px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #F2F2F2;

}
.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog{
    width: 40px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: #DEEBFF;
    padding-top: 10px;
    color: #0065FC;
}
.fa-star{
    color: #0065FC;
}
#etoile{
    color: #F2F2F2
}
.fa-info-circle{
    background-color:white;
    color: rgb(63, 132, 211);
}
.fa-chart-line{
     float: right; 
}

.seloger{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.hebergements{
     width: 62%; 
     border-radius: 15px;
     background-color: #f2f2f2;
     padding-left: 40px;
     padding-right: 40px;
     margin-right: 20px;
     

}
.populaires{
    width: 28%;  
    border-radius: 15px;
    background-color: #F2F2F2;
    padding-left: 40px;
    padding-right: 40px;
}
.cart-image01,.cart-image02,.cart-image03{
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cart-image01{
    background-image: url("images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.cart-image02{
    background-image: url("images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.cart-image03{
    background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
.cart-text1{
    width: 180px;
}
.cart-text1 ol{
    padding-left: 20px;
}
.cart-text1 ol li{
    margin-top: 10px;
}
.cart-text1 .stars{
    margin-top: 70px;
}

.cart2{
    display: flex;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

.marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.marseille .cart{
    width: 340px;
    height: 244px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    
}
.cart-text{
    height: 40px;
    padding: 10px;
}
ul{
    margin-top: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
.cart .cart-image1,.cart-image2,.cart-image3,.cart-image4,.cart-image5,.cart-image6{
   height: 180px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-repeat: repeat;
   background-size: cover;
   background-position: center center;
}
.cart-image1{
    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.cart-image2{
    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.cart-image3{
    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.cart-image4{
    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.cart-image5{
    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.cart-image6{
    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.activites{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

.mescartes{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.item{
    height: 600px;
    border-radius: 10px;
    margin: 10px;
    background-color: #F2F2F2; 
    -webkit-box-shadow: 2px 2px 10px 5px #DADAF0;
    box-shadow: 2px 2px 10px 5px #DADAF0;
}
.item:nth-child(2){
    height: 340px;
}
.item:nth-child(3){
    height: 200px;
}
.item:nth-child(5){
    height: 260px;  
}
.item:nth-child(6){
   height: 290px;
}

.cart-img1,.cart-img2,.cart-img3,.cart-img4,.cart-img5,.cart-img5,.cart-img6{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.cart-img1{
    height: 520px;
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg"); 
}
.cart-img2{
    height: 280px;
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.cart-img3{
    height: 140px;
    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
.cart-img4{
    height: 520px;
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.cart-img5{
    height: 200px;
    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
.cart-img6{
    height: 230px;
    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}
.cart-text2{
    height: 20px;
    margin-top: 15px;
    padding: 10px;
    
} 
.cart a,.item a{
    text-decoration: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #F2F2F2;
    justify-content: space-around;
    
}
.assistance ul li, .apropos ul li, .hebergement ul li{
    margin-top: 10px;
}

@media(max-width: 700px){

    .container{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    header{
        margin-bottom: 5px;
    }

    nav{
        width: 100%;
        
        
    }
    nav ul{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        padding: 0px;
        
       
    }
    nav ul li:nth-child(1) {
        order:1;
     }
     nav ul li:nth-child(2) {
        order:3;
        margin-top: 30px;
     }
     nav ul li:nth-child(3) {
        order:4;
        margin-top: 30px;
     }
     nav ul li:nth-child(4) {
        order:2;
       
     }
     .menu{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        width: 100%;
        justify-content: space-between;
    }
    input{
        
        height: 41px;
    }
    .btn-one{
        display: none;
    }
    .btn-two{
        width: 70px;
        height: 41px;
        border-radius: 15px;
        margin-left: -10px !important;
        color: white;
        background-color: #0065FC;
        display: inherit;
        font-size: 18px;
        padding:10px 10px 10px 20px;
        border: none;
    }
    .fa-map-marker-alt{
        width: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .filtres{
        margin-right: 70px;
    }
    .filtres:nth-child(1){
        flex-basis: 100%;
    }
    .seloger{
        flex-direction: column-reverse;
    }
    .populaires{
        width: 100%;
        padding: 0;
        margin-bottom: 5px;
    }
    .lespluspopulaires{
        padding: 10px;
    }
    
    
    .cart2{
        height: 260px;
        margin-bottom: 20px;
        border-radius: 10px;
       
    }
    .hebergements{
        width: 100%;
        padding: 0;
        background-color: white;
        
    }
   
    .marseille .cart{
        width: 100%;
        height: 260px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 10px 5px #DADAF0;
        box-shadow: 2px 2px 10px 5px #DADAF0;
    }
    .activites{
        height: 100%;
        flex-wrap: wrap;
    }
    .mescartes{
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .item{
        height: 260px;
        margin-bottom: 10px;
    }
    .item:nth-child(2),.item:nth-child(3),.item:nth-child(5),.item:nth-child(6){
        height: 260px;
        
    }
    .cart-img1,.cart-img2,.cart-img3,.cart-img4,.cart-img5,.cart-img5,.cart-img6{
        height: 200px;
    }
    
    footer{
        margin: 5px;
        flex-direction: column;
        background-color: #F2F2F2;
        align-items: center;
        
    }

}


 @media screen and (min-width: 801px )and (max-width: 1600px) {
    .hebergements{
        width: 50%;  
    }
    .populaires{
        width: 34%;
        
    }
    
}
@media screen and (min-width: 801px )and (max-width: 1550px) {
    .hebergements{
        width: 55%;
       
        
    }
    .populaires{
        width: 34%;
       
    }
    
}
@media screen and (min-width: 801px )and (max-width: 1450px) {
    .hebergements{
        width: 65%;
       
        
    }
    .populaires{
        width: 25%;
       
    }
    
}
@media screen and (min-width: 801px )and (max-width: 1350px) {
    .hebergements{
        width: 55%;
       
        
    }
    .populaires{
        width: 44%;
        
    }
    
}
@media screen and (min-width: 801px )and (max-width: 1300px) {
    .hebergements{
        width: 40%;
       
        
    }
    .populaires{
        width: 40%;
        
    }
    
}