/* document css */

main{
	padding: 0px 150px 0px 150px;
}

/* section seloger */
.seloger{
	
	display: flex;
	justify-content: space-between;
}
/* class seloger-hebergement */
.seloger-hebergements{
	width: 66%;
    padding-left: 20px;
    padding-right: 20px;
	border-radius: 20px;
	background-color: #f2f2f2;
}
.full-hebergements{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.hebergement-cart{
	width: 30%;
	background-color: white;
	margin-bottom: 20px;
	padding: 5px;
    border-radius: 20px;
}

.img-hebergement{
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
   	
}
.hebergement-description{
	width: 80%;
	height: 100%;
	padding: 4%;
	line-height: 0px;
}

/* class seloger-populaire */
.seloger-populaires{
	width: 28%;
	border-radius: 20px;
	padding-left: 20px;
    padding-right: 20px;
	background-color: #f2f2f2;
}
.populaires-title{
	display: flex;
	justify-content: space-between;
}
.populaires-cart{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: white;
	margin-bottom: 20px;
    border-radius: 20px;
}
.image-populaires{
	display: flex;
	width: 80%;
}

.img-populaires{
	width: 100%;
	height: 100%;
    object-fit: cover;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.populaires-description{
	width: 250px;
	height: 100%;
	padding-left: 4%;
	padding-right: 15%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.etoile-populaires{
	padding-top: 30px;
}


/* section activites */
.activites{
	margin-bottom: 20px;
}

.full-activites{
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	align-content: space-between;
}
.item{
	width: 23%;
	height: 600px;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 10px 5px #f2f2f2;
    box-shadow: 2px 2px 10px 5px #f2f2f2;
}

#img-activites1{
	width: 100%;
	height: 91%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites2{
	width: 100%;
	height: 84%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites3{
	width: 100%;
	height: 71%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites4{
	width: 100%;
	height: 91%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites5{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites6{
	width: 100%;
	height: 81%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.cart-img{
	height: 100%;
	margin: 0px;
}
.cart-text{
	padding: 4%;
}
.item:nth-child(2){
    height: 340px;
}
.item:nth-child(3){
    height: 200px;
}
.item:nth-child(5){
    height: 260px;
}
.item:nth-child(6){
    height: 290px;
}


/* section footer */

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #F2F2F2;
}
li{
	 list-style: none;
}


@media (max-width: 560px){
main {
    padding: 0px;
}
.seloger{
	flex-direction: column-reverse;
}
.seloger-hebergements{
	width: 88%;
	background-color: inherit;
}
.hebergement-cart{
    width: 100%;
    -webkit-box-shadow: 2px 2px 10px 5px #f2f2f2;
    box-shadow: 2px 2px 10px 5px #f2f2f2;	
}
		
.seloger-populaires{
	width: 90%;	
	border-radius: 0;
	
}
	
.full-activites{
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 20px;
}
.item{
	width: 100%;
	height: 240px;
	margin-bottom: 22px;
}
.item:nth-child(2){
    height: 240px;
}
.item:nth-child(3){
    height: 240px;
}
.item:nth-child(5){
    height: 240px;
}
.item:nth-child(6){
    height: 240px;
}
	
#img-activites1{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites2{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites3{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites4{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites5{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#img-activites6{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
body{
	margin: 0px;
	padding: 0px;
}
	
	
}



@media screen and (max-width: 1024px )and (min-width: 561px){
	main{
    padding: 0px 10px 0px 10px;	
}
.seloger{
	flex-wrap: wrap;
}

.seloger-hebergements{
	width: 100%;
	margin-bottom: 10px;
}
.hebergement-cart{
	width: 46%;	
}
.seloger-populaires{
	width: 100%;
}

.image-populaires{

	width: 50%;
}

}

@media screen and (max-width: 1624px )and (min-width: 1025px){
.seloger{
	flex-wrap: wrap;
}
main{
    padding: 0px 10px 0px 10px;	
}

.seloger-hebergements{
	width: 100%;
	margin-bottom: 10px;
}
.seloger-populaires{
	width: 100%;
}

.image-populaires{
	width: 50%;
}

}
